{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/abramova.mastervision.su/mak-webinar",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-21T18:10:21.852Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-21T18:10:22.241Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1579699323395.5508,
          "ctimeMs": 1579699323395.5508,
          "date": "2020-01-22T13:43:24.372Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579699626975.4517,
          "ctimeMs": 1579699626975.4517,
          "date": "2020-01-22T13:43:24.886Z"
        },
        {
          "file": "fonts/Montserrat.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622462022.317,
          "date": "2020-01-21T18:10:23.538Z"
        },
        {
          "file": "fonts/Montserrat.svg",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622475743.111,
          "date": "2020-01-21T18:10:24.522Z"
        },
        {
          "file": "fonts/Montserrat.ttf",
          "mtimeMs": 1579059540000,
          "ctimeMs": 1579622053746.5022,
          "date": "2020-01-21T18:10:25.110Z"
        },
        {
          "file": "fonts/Montserrat.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622483541.1272,
          "date": "2020-01-21T18:10:25.626Z"
        },
        {
          "file": "fonts/Montserrat.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622462022.317,
          "date": "2020-01-21T18:10:26.137Z"
        },
        {
          "file": "fonts/MontserratBold.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622418325.0283,
          "date": "2020-01-21T18:10:26.787Z"
        },
        {
          "file": "fonts/MontserratBold.svg",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622428097.0322,
          "date": "2020-01-21T18:10:27.629Z"
        },
        {
          "file": "fonts/MontserratBold.ttf",
          "mtimeMs": 1579059526000,
          "ctimeMs": 1579621924467.7993,
          "date": "2020-01-21T18:10:28.209Z"
        },
        {
          "file": "fonts/MontserratBold.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622434614.6687,
          "date": "2020-01-21T18:10:28.747Z"
        },
        {
          "file": "fonts/MontserratBold.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622418340.6538,
          "date": "2020-01-21T18:10:29.269Z"
        },
        {
          "file": "fonts/OpenSansBold.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622579383.6233,
          "date": "2020-01-21T18:10:29.823Z"
        },
        {
          "file": "fonts/OpenSansBold.svg",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622586197.0776,
          "date": "2020-01-21T18:10:30.608Z"
        },
        {
          "file": "fonts/OpenSansBold.ttf",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622588556.5496,
          "date": "2020-01-21T18:10:31.114Z"
        },
        {
          "file": "fonts/OpenSansBold.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622591791.4038,
          "date": "2020-01-21T18:10:31.601Z"
        },
        {
          "file": "fonts/OpenSansBold.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622579383.6233,
          "date": "2020-01-21T18:10:32.067Z"
        },
        {
          "file": "fonts/OpenSansSemibold.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622325800.1562,
          "date": "2020-01-21T18:10:32.608Z"
        },
        {
          "file": "fonts/OpenSansSemibold.svg",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622338969.67,
          "date": "2020-01-21T18:10:33.329Z"
        },
        {
          "file": "fonts/OpenSansSemibold.ttf",
          "mtimeMs": 1529923455589.069,
          "ctimeMs": 1529923455589.069,
          "date": "2020-01-21T18:10:33.852Z"
        },
        {
          "file": "fonts/OpenSansSemibold.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622325800.1562,
          "date": "2020-01-21T18:10:34.313Z"
        },
        {
          "file": "fonts/OpenSansSemibold.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622325800.1562,
          "date": "2020-01-21T18:10:34.774Z"
        },
        {
          "file": "img/backs/last-bg.png",
          "mtimeMs": 1579628061810.6394,
          "ctimeMs": 1579628087657.297,
          "date": "2020-01-21T18:10:35.558Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1579627885514.2769,
          "ctimeMs": 1579628087657.297,
          "date": "2020-01-21T18:10:36.048Z"
        },
        {
          "file": "img/icons/arrow.png",
          "mtimeMs": 1579627913516.5466,
          "ctimeMs": 1579628084219.327,
          "date": "2020-01-21T18:10:36.486Z"
        },
        {
          "file": "img/icons/calendar.png",
          "mtimeMs": 1579627927396.146,
          "ctimeMs": 1579628084219.327,
          "date": "2020-01-21T18:10:36.929Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1579627737160.0989,
          "ctimeMs": 1579627737191.351,
          "date": "2020-01-21T18:10:37.342Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1579627737160.0989,
          "ctimeMs": 1579627737191.351,
          "date": "2020-01-21T18:10:37.743Z"
        },
        {
          "file": "img/icons/slider-arrow.png",
          "mtimeMs": 1579629908081.7395,
          "ctimeMs": 1579629928083.935,
          "date": "2020-01-21T18:10:38.164Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1579627737394.4856,
          "ctimeMs": 1579627737456.9875,
          "date": "2020-01-21T18:10:38.641Z"
        },
        {
          "file": "img/icons/watch.png",
          "mtimeMs": 1579627935818.6943,
          "ctimeMs": 1579628084219.327,
          "date": "2020-01-21T18:10:39.099Z"
        },
        {
          "file": "img/images/channels.jpg",
          "mtimeMs": 1579628016839.2954,
          "ctimeMs": 1579628091673.3188,
          "date": "2020-01-21T18:10:39.536Z"
        },
        {
          "file": "img/images/img-1.png",
          "mtimeMs": 1579627967942.8928,
          "ctimeMs": 1579628091673.3188,
          "date": "2020-01-21T18:10:40.078Z"
        },
        {
          "file": "img/images/img-2.png",
          "mtimeMs": 1579627974958.9763,
          "ctimeMs": 1579628091673.3188,
          "date": "2020-01-21T18:10:40.594Z"
        },
        {
          "file": "img/images/img-3.png",
          "mtimeMs": 1579627983162.6975,
          "ctimeMs": 1579628091673.3188,
          "date": "2020-01-21T18:10:41.145Z"
        },
        {
          "file": "img/images/img-4.png",
          "mtimeMs": 1579627990881.9624,
          "ctimeMs": 1579628091673.3188,
          "date": "2020-01-21T18:10:41.669Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1579628006073.764,
          "ctimeMs": 1579628091673.3188,
          "date": "2020-01-21T18:10:42.286Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1579627737191.351,
          "ctimeMs": 1579627855766.278,
          "date": "2020-01-21T18:10:42.708Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579699039244.4436,
          "ctimeMs": 1579699039244.4436,
          "date": "2020-01-22T13:43:40.219Z"
        },
        {
          "file": "img/images/1.png",
          "mtimeMs": 1579687518297.5242,
          "ctimeMs": 1579687528585.368,
          "date": "2020-01-22T13:43:25.287Z"
        },
        {
          "file": "img/images/2.png",
          "mtimeMs": 1579687406621.6636,
          "ctimeMs": 1579687484269.991,
          "date": "2020-01-22T13:43:25.670Z"
        },
        {
          "file": "img/images/3.png",
          "mtimeMs": 1579687390634.541,
          "ctimeMs": 1579687484285.599,
          "date": "2020-01-22T13:43:26.066Z"
        },
        {
          "file": "img/images/4.png",
          "mtimeMs": 1579687434097.2368,
          "ctimeMs": 1579687484301.2244,
          "date": "2020-01-22T13:43:26.449Z"
        },
        {
          "file": "img/revs/speaker-img-1.png",
          "mtimeMs": 1579628027913.5732,
          "ctimeMs": 1579695325940.1382,
          "date": "2020-01-22T13:43:31.281Z"
        },
        {
          "file": "img/revs/speaker-img-2.png",
          "mtimeMs": 1579628034896.9666,
          "ctimeMs": 1579695328766.7368,
          "date": "2020-01-22T13:43:31.910Z"
        },
        {
          "file": "img/revs/speaker-img-3.png",
          "mtimeMs": 1579628041208.861,
          "ctimeMs": 1579695330923.2578,
          "date": "2020-01-22T13:43:32.295Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1579698660103.1064,
          "ctimeMs": 1579698660117.1162,
          "date": "2020-01-22T13:43:32.746Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1579698672828.0808,
          "ctimeMs": 1579698673184.3257,
          "date": "2020-01-22T13:43:33.212Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1579698678571.3206,
          "ctimeMs": 1579698678586.3303,
          "date": "2020-01-22T13:43:33.669Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1579698665591.742,
          "ctimeMs": 1579698665591.742,
          "date": "2020-01-22T13:43:34.160Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1579698645634.9963,
          "ctimeMs": 1579698645645.004,
          "date": "2020-01-22T13:43:34.619Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1579698629784.1768,
          "ctimeMs": 1579698629784.1768,
          "date": "2020-01-22T13:43:35.093Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1579698622861.4763,
          "ctimeMs": 1579698622861.4763,
          "date": "2020-01-22T13:43:35.594Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1579698639785.425,
          "ctimeMs": 1579698639785.425,
          "date": "2020-01-22T13:43:36.075Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1579699668899.8862,
          "ctimeMs": 1579699668899.8862,
          "date": "2020-01-22T13:43:36.535Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1579699790834.7395,
          "ctimeMs": 1579699790834.7395,
          "date": "2020-01-22T13:43:36.955Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1579699927020.9062,
          "ctimeMs": 1579699927020.9062,
          "date": "2020-01-22T13:43:37.418Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1579700043690.6672,
          "ctimeMs": 1579700043690.6672,
          "date": "2020-01-22T13:43:37.837Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1579700213065.2693,
          "ctimeMs": 1579700213065.2693,
          "date": "2020-01-22T13:43:38.254Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1579700325349.4504,
          "ctimeMs": 1579700325349.4504,
          "date": "2020-01-22T13:43:38.716Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1579700431755.583,
          "ctimeMs": 1579700431755.583,
          "date": "2020-01-22T13:43:39.169Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1579700538982.1228,
          "ctimeMs": 1579700538982.1228,
          "date": "2020-01-22T13:43:39.595Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
