{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/abramova.mastervision.su/mak-webinar",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-21T18:10:21.852Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-21T18:10:22.241Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1579788768624.1135,
          "ctimeMs": 1579788768624.1135,
          "date": "2020-01-23T14:12:52.687Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579788881339.1682,
          "ctimeMs": 1579788881339.1682,
          "date": "2020-01-23T14:14:44.377Z"
        },
        {
          "file": "fonts/Montserrat.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622462022.317,
          "date": "2020-01-21T18:10:23.538Z"
        },
        {
          "file": "fonts/Montserrat.svg",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622475743.111,
          "date": "2020-01-21T18:10:24.522Z"
        },
        {
          "file": "fonts/Montserrat.ttf",
          "mtimeMs": 1579059540000,
          "ctimeMs": 1579622053746.5022,
          "date": "2020-01-21T18:10:25.110Z"
        },
        {
          "file": "fonts/Montserrat.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622483541.1272,
          "date": "2020-01-21T18:10:25.626Z"
        },
        {
          "file": "fonts/Montserrat.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622462022.317,
          "date": "2020-01-21T18:10:26.137Z"
        },
        {
          "file": "fonts/MontserratBold.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622418325.0283,
          "date": "2020-01-21T18:10:26.787Z"
        },
        {
          "file": "fonts/MontserratBold.svg",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622428097.0322,
          "date": "2020-01-21T18:10:27.629Z"
        },
        {
          "file": "fonts/MontserratBold.ttf",
          "mtimeMs": 1579059526000,
          "ctimeMs": 1579621924467.7993,
          "date": "2020-01-21T18:10:28.209Z"
        },
        {
          "file": "fonts/MontserratBold.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622434614.6687,
          "date": "2020-01-21T18:10:28.747Z"
        },
        {
          "file": "fonts/MontserratBold.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622418340.6538,
          "date": "2020-01-21T18:10:29.269Z"
        },
        {
          "file": "fonts/OpenSansBold.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622579383.6233,
          "date": "2020-01-21T18:10:29.823Z"
        },
        {
          "file": "fonts/OpenSansBold.svg",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622586197.0776,
          "date": "2020-01-21T18:10:30.608Z"
        },
        {
          "file": "fonts/OpenSansBold.ttf",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622588556.5496,
          "date": "2020-01-21T18:10:31.114Z"
        },
        {
          "file": "fonts/OpenSansBold.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622591791.4038,
          "date": "2020-01-21T18:10:31.601Z"
        },
        {
          "file": "fonts/OpenSansBold.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622579383.6233,
          "date": "2020-01-21T18:10:32.067Z"
        },
        {
          "file": "fonts/OpenSansSemibold.eot",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622325800.1562,
          "date": "2020-01-21T18:10:32.608Z"
        },
        {
          "file": "fonts/OpenSansSemibold.svg",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622338969.67,
          "date": "2020-01-21T18:10:33.329Z"
        },
        {
          "file": "fonts/OpenSansSemibold.ttf",
          "mtimeMs": 1529923455589.069,
          "ctimeMs": 1529923455589.069,
          "date": "2020-01-21T18:10:33.852Z"
        },
        {
          "file": "fonts/OpenSansSemibold.woff",
          "mtimeMs": 1579604092000,
          "ctimeMs": 1579622325800.1562,
          "date": "2020-01-21T18:10:34.313Z"
        },
        {
          "file": "fonts/OpenSansSemibold.woff2",
          "mtimeMs": 1579604094000,
          "ctimeMs": 1579622325800.1562,
          "date": "2020-01-21T18:10:34.774Z"
        },
        {
          "file": "img/backs/last-bg.png",
          "mtimeMs": 1579702974264.545,
          "ctimeMs": 1579702974411.9016,
          "date": "2020-01-22T15:21:31.180Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1579702990430.0864,
          "ctimeMs": 1579781964900.4841,
          "date": "2020-01-23T12:30:42.226Z"
        },
        {
          "file": "img/icons/arrow.png",
          "mtimeMs": 1579702540274.7905,
          "ctimeMs": 1579702540274.7905,
          "date": "2020-01-22T15:21:32.004Z"
        },
        {
          "file": "img/icons/calendar.png",
          "mtimeMs": 1579702544606.709,
          "ctimeMs": 1579702544623.718,
          "date": "2020-01-22T15:21:32.436Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1579702549515.251,
          "ctimeMs": 1579702549538.2656,
          "date": "2020-01-22T15:21:32.823Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1579702554948.8425,
          "ctimeMs": 1579702554951.8447,
          "date": "2020-01-22T15:21:33.216Z"
        },
        {
          "file": "img/icons/slider-arrow.png",
          "mtimeMs": 1579702560353.55,
          "ctimeMs": 1579702560372.5625,
          "date": "2020-01-22T15:21:33.639Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1579702566562.266,
          "ctimeMs": 1579702566624.7705,
          "date": "2020-01-22T15:21:33.997Z"
        },
        {
          "file": "img/icons/watch.png",
          "mtimeMs": 1579702571642.984,
          "ctimeMs": 1579702571761.317,
          "date": "2020-01-22T15:21:34.371Z"
        },
        {
          "file": "img/images/channels.jpg",
          "mtimeMs": 1579702644760.9531,
          "ctimeMs": 1579702644870.3323,
          "date": "2020-01-22T15:21:36.297Z"
        },
        {
          "file": "img/images/img-1.png",
          "mtimeMs": 1579702652979.9067,
          "ctimeMs": 1579702652979.9067,
          "date": "2020-01-22T15:21:36.763Z"
        },
        {
          "file": "img/images/img-2.png",
          "mtimeMs": 1579702658851.1938,
          "ctimeMs": 1579702658851.1938,
          "date": "2020-01-22T15:21:37.201Z"
        },
        {
          "file": "img/images/img-3.png",
          "mtimeMs": 1579702664524.7454,
          "ctimeMs": 1579702664538.7546,
          "date": "2020-01-22T15:21:37.653Z"
        },
        {
          "file": "img/images/img-4.png",
          "mtimeMs": 1579702671909.8977,
          "ctimeMs": 1579702671909.8977,
          "date": "2020-01-22T15:21:38.059Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1579702676827.994,
          "ctimeMs": 1579702677003.4258,
          "date": "2020-01-22T15:21:38.620Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1579702614237.9038,
          "ctimeMs": 1579702614237.9038,
          "date": "2020-01-22T15:21:39.007Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579789162037.0168,
          "ctimeMs": 1579789162037.0168,
          "date": "2020-01-23T14:19:25.831Z"
        },
        {
          "file": "img/images/1.png",
          "mtimeMs": 1579702623869.5403,
          "ctimeMs": 1579702623885.1663,
          "date": "2020-01-22T15:21:34.734Z"
        },
        {
          "file": "img/images/2.png",
          "mtimeMs": 1579702628866.5369,
          "ctimeMs": 1579702628866.5369,
          "date": "2020-01-22T15:21:35.129Z"
        },
        {
          "file": "img/images/3.png",
          "mtimeMs": 1579702633805.3135,
          "ctimeMs": 1579702633805.3135,
          "date": "2020-01-22T15:21:35.548Z"
        },
        {
          "file": "img/images/4.png",
          "mtimeMs": 1579702638625.4915,
          "ctimeMs": 1579702638625.4915,
          "date": "2020-01-22T15:21:35.913Z"
        },
        {
          "file": "img/revs/speaker-img-1.png",
          "mtimeMs": 1579702806275.1885,
          "ctimeMs": 1579702806337.229,
          "date": "2020-01-22T15:21:39.410Z"
        },
        {
          "file": "img/revs/speaker-img-2.png",
          "mtimeMs": 1579702810655.7021,
          "ctimeMs": 1579702810655.7021,
          "date": "2020-01-22T15:21:39.803Z"
        },
        {
          "file": "img/revs/speaker-img-3.png",
          "mtimeMs": 1579702815376.4258,
          "ctimeMs": 1579702815376.4258,
          "date": "2020-01-22T15:21:40.631Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1579702821949.2402,
          "ctimeMs": 1579702821949.2402,
          "date": "2020-01-22T15:21:41.123Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1579702827057.4832,
          "ctimeMs": 1579702827057.4832,
          "date": "2020-01-22T15:21:41.583Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1579702834026.1516,
          "ctimeMs": 1579702834026.1516,
          "date": "2020-01-22T15:21:42.026Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1579702839724.5432,
          "ctimeMs": 1579702839844.7734,
          "date": "2020-01-22T15:21:42.487Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1579702846574.0667,
          "ctimeMs": 1579702846574.0667,
          "date": "2020-01-22T15:21:42.959Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1579702852687.6572,
          "ctimeMs": 1579702852687.6572,
          "date": "2020-01-22T15:21:43.495Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1579702857490.517,
          "ctimeMs": 1579702857501.5237,
          "date": "2020-01-22T15:21:43.968Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1579702863607.0613,
          "ctimeMs": 1579702863617.0674,
          "date": "2020-01-22T15:21:44.487Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1579702869609.281,
          "ctimeMs": 1579702869609.281,
          "date": "2020-01-22T15:21:44.932Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1579702881157.7847,
          "ctimeMs": 1579702881196.811,
          "date": "2020-01-22T15:21:45.349Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1579702886695.327,
          "ctimeMs": 1579702886695.327,
          "date": "2020-01-22T15:21:45.769Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1579702892601.312,
          "ctimeMs": 1579702892601.312,
          "date": "2020-01-22T15:21:46.179Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1579702900044.8171,
          "ctimeMs": 1579702900044.8171,
          "date": "2020-01-22T15:21:46.601Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1579702905792.6865,
          "ctimeMs": 1579702905809.6958,
          "date": "2020-01-22T15:21:47.094Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1579702920008.5708,
          "ctimeMs": 1579702920205.7012,
          "date": "2020-01-22T15:21:47.529Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1579702924596.3545,
          "ctimeMs": 1579702924596.3545,
          "date": "2020-01-22T15:21:48.026Z"
        },
        {
          "file": "js/wh.min.js",
          "mtimeMs": 1579788240090.1846,
          "ctimeMs": 1579788240090.1846,
          "date": "2020-01-23T14:04:10.173Z"
        },
        {
          "file": "wh/index.html",
          "mtimeMs": 1579788763121.5088,
          "ctimeMs": 1579788763121.5088,
          "date": "2020-01-23T14:12:53.305Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1579788386857.0283,
          "ctimeMs": 1579788386857.0283,
          "date": "2020-01-23T14:06:30.601Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/_js/wh.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\wh.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/ie.min.styl",
        "config": {
          "customOutput": "css\\ie.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/wh.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": false
            }
          },
          "customOutput": "wh\\index.html"
        }
      },
      {
        "file": "img/backs/main-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "originalSize": 45497,
          "optimized": true
        }
      }
    ]
  }
}
