-var head_url = 'https://abramova.mastervision.su/mak-webinar/';
-var head_title = '«Как использовать метафорические ассоциативные карты, чтобы  найти лучшее решение в любой ситуации?»';
-var head_description = 'Трехдневный онлайн-интенсив от дипломированного психолога и международного специалиста Жанны Абрамовой';
-var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b1(cl,p)
	button.button.button-1(data-toggle="modal" data-target="#Modal")=p
mixin b2(cl,p)
	button.button.button-2(class=cl type="submit")
		span=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/1.main.pug
		include pug/main/2.for.pug
		include pug/main/3.author.pug
		include pug/main/4.revs.pug
		include pug/main/5.last.pug
		include pug/main/6.footer.pug
		include pug/main/7.modal.pug
		include pug/main/8.politics.pug
		include pug/main/9.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts