footer
	padding 20px 0
	position relative
	&:after
		@extends header:after
		top 0
.footer-link
	color #0096ff
	text-decoration: underline
	display: inline-block
	cursor pointer
	&:focus
		color #0096ff
		text-decoration: underline
	&:hover
		color #0096ff
		text-decoration: none
	a&
		margin-left: 20px