.mail-modal-content
	background-color: #CDCDFF
.modal-title
	font-size: 20px
	text-align: center
	width 84%
	margin 0 auto 20px
	font-family: OSB
.input-mail-modal
	max-width 290px
.button-modal
	float: right