.modal-backdrop.in
	opacity .9
.modal-content
	border-radius: 0
button.close
	width 40px
	height 40px
	border: 3px outset #eee
	font-size: 34px
	font-family: OSB
	background-color #fff
	opacity 1
	z-index 99
	position relative
	transition: all .3s ease
	&:hover
		opacity 1
		background-color: #eee
		border-color: #fff
		color #fff
.politics_modal-content
	.modal-title
		text-align: left
		margin-left: 0
		margin-bottom: 0
	p
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0