@media screen and (min-width 2256px)
	body
		font-size: 18px
	.container
		width 1400px
	.main-title
		margin-top: 80px
	.input
		max-width 320px
	.input-mail-modal
		max-width 300px
	#text-revs .text-rev-img
		height 377px
@media screen and (max-width 1199px)
	.mail-section-title:after
		right -40px
	.mail-section-title-wh:after
		right 0
	.input-mail
		float: none
		display block
		margin 0 auto 10px
	.button-form
	.button-modal
		float: none
	.button-modal
		float: none
		max-width 290px
	.for-item
		max-width 800px
	.author-img img
		right -90px
		top 0
	.channels-title
		line-height: 1.2
	#text-revs .text-rev-img
		height 256px
@media screen and (max-width 991px)
	header
		&:after
			left 0
			right 0
			margin 0 auto
	.header-logo
		display block
		margin 0 auto 3px
		float: none
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 1.2
		display: inline-block
	.main-title
		line-height: 1.3
		margin-bottom: 20px
	.mail-section-title
		line-height: 1.3
	.for-item
		max-width 700px
		padding 20px 30px
		&:before
			left 10px
			top 10px
	.for-item-img
		position: static
		display block
		margin: 0 auto 20px
	.author-img img
		right -145px
	.speak
		margin-bottom: 30px
	.speaker-img
		float: none
		margin 0 0 10px
	#text-revs .text-rev-img
		height 194px
	#last
		padding: 20px 0
	.mail-section-title-wh:after
		right -40px
@media screen and (max-width 767px)
	header
		margin-bottom: 35px
	#main
		text-align: center
	.pre
		margin-bottom: 10px
	.main-title
		span
			display: block
	.main-subtitle
		margin-bottom: 20px
	.main-info
		display: inline-block
		text-align: center
		padding 5px 10px
	.mail-section-title
	.mail-section-title-wh
		margin 0 0 25px
		&:after
			content none
	.mail-section
		margin 30px 0 30px 10px
	.about-item
		text-align: left
		&-1
			margin-bottom: 25px
	#for
		padding 50px 0 40px
	.for-item
		max-width: 100%
	.for-item-img
		margin-right: 0
	.author-img img
		display block
		position: static
		width 100%
		max-width 450px
		margin 0 auto 20px
	.channels-title
		margin-top: 20px
	.channels
		margin 10px 0 0
	#author
	#revs
		padding 40px 0
	.speak
		width 100%
		max-width 450px
		margin 0 auto 20px
		text-align: center
	.speaker
		margin-bottom: 20px
	.general-title
		text-align: center
	.carousel
		width 100%
		max-width 480px
		margin 0 auto
	.author-text
		margin-top: 20px
	#text-revs
		margin-bottom: 50px
	.mail-section-last-title
		text-align: center
		margin-bottom: 25px
	.input-mail
		max-width 239px
	footer
		text-align: center
	footer::after
		left 0
		right 0
		margin 0 auto
	.footer-link
		display block
		margin 2px 0 0
	.input-mail-modal
		max-width 290px
	.button-wh-main
		margin 0 auto
@media screen and (max-width 485px)
	header
		padding 10px 0
		margin-bottom: 20px
	.header-logo
		width 70px
		height 31px
	.contact
		font-size: 12px
		line-height: 14px
		padding-left: 15px
		background-size: auto 12px
	.contact.contact-email
		padding-left: 22px
	.main-title span
		font-size: 28px
	.mail-section
		margin 30px 0 20px 10px
	.for-item
		padding 20px
		margin-bottom: 20px
		&:before
			position: static
			margin-bottom: 25px
		&-4
			margin-bottom: 40px
	.for-item-img
		display block
		margin 0 auto 15px
		width 100%
		max-width 350px
	.for-item-title
		margin-bottom: 15px
	.general-list li
		padding-left: 20px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	footer
		padding 15px 0
		font-size: 12px
	#text-revs .text-rev-img
		object-fit: cover
@media screen and (max-width 385px)
	footer::after, header::after
		width 100%
	.main-title span
		font-size: 26px
	.main-subtitle
	.modal-title
		font-size: 18px
	.mail-section-container
		padding 20px
	.mail-section-title, .mail-section-title-wh
		font-size: 18px
		margin-bottom: 20px
	.about-item
		padding 80px 0 0
		background-position: top center
		text-align: center
	.for-item
		padding 15px
	.for-item:before
		margin-bottom: 10px
	.for-item-title
		text-align: center
	#for
	#author
	#revs
		padding 30px 0
	.general-title
		font-size: 24px
		margin-bottom: 24px
	.channels
		width 100%
		max-width 316px
	.speaker
	.speak-text
		margin-bottom: 10px
	#text-revs .text-rev-img
		height 100px
	#last
		padding 10px 0
	.politics_modal-content .modal-title
		font-size: 16px