section#author
	.container
		+gt('','О тренере - Жанна Абрамова')
		.col-md-3.col-sm-3.col-md-push-9.col-sm-push-9
			.author-img
				img(src="img/images/janna.png", alt="Жанна Абрамова")
		.col-md-9.col-sm-9.col-md-pull-3.col-sm-pull-3
			ul.general-list.general-list-author
				li Клинический психолог
				li Гештальт-терапевт
				li Мастер практической психологии (факультет клинической психологии Академии при президенте РФ РАНХиГС) и технологий осознанности
				li Коуч, тренер обучающих и трансформационных программ
				li Процессор-техник РПТ, Тета-Хилинга, субклеточный психобиологии
				li Эксперт TV-радио-шоу, информационных передач
				li Автор тренинговых программ и курсов по женской психологии
				li Жанна более 12 лет работает с женщинами и является экспертом в области отношений между мужчиной и женщиной. Также, постоянно занимается работой с детьми и социальными проектами
			p.author-text Женский тренер, автор трансформационных программ МАК «Ключ к неизведанному», «Восстановление справедливости» «Отправная точка заболеваний», «За гранью разума», «Сам себе доктор», «Метафизика — Ключ к исцелению Души и тела», «Управление реальностью», «Мышление будущего», трансформационный женский тренинг «Анатомия Отношений», «От перца к сердцу», «Как получать подарки», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
			.row
				.col-md-6.col-sm-6
					h4.channels-title Спикер федеральных телеканалов:
				.col-md-6.col-sm-6
					img(src="img/images/channels.jpg", alt="Каналы").channels