footer
	.container
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		p.footer-link(data-toggle="modal" data-target="#myPolitics") Политика конфединциальности
		a.footer-link(href="https://mastervision.su/oferta.docx") Оферта